app_name= # Name of your App
app_ipv4= # IPv4 of container app
app_volume= # Volume name

app_secret=***
app_url=***

MAIL_DRIVER=***
SMTP_HOST=***
SMTP_PORT=***
SMTP_USERNAME=***
SMTP_PASSWORD=***
SMTP_SECURE=true
MAIL_FROM_ADDRESS=***
MAIL_FROM_NAME=***


db_name=***
db_ipv4=***
db_volume=***

db_database=***
db_user=***
db_password=***


redis_name=***
redis_ipv4=***
redis_volume=***


restart_mode=***
network_name=***
