app_name= # Name of your App
app_ipv4= # IPv4 of container app
app_volume= # Volume name

app_secret=mhLMEYpfCXe7YiYYO89cFtHMfjGkoYqp
app_url=https://doc.fuhlig.de

MAIL_DRIVER=smtp
SMTP_HOST=smtp.strato.de
SMTP_PORT=465
SMTP_USERNAME=webmaster@fuhlig.de
SMTP_PASSWORD=!Drolf2003
SMTP_SECURE=true
MAIL_FROM_ADDRESS=docmost@fuhlig.de
MAIL_FROM_NAME=Docmost


db_name=db.docmost
db_ipv4=192.168.0.28
db_volume=doc.db

db_database=docmost
db_user=dbuser1234
db_password=tesauieasdbgaiugduiagusidabj


redis_name=redis.docmost
redis_ipv4=192.168.0.29
redis_volume=doc.redis


restart_mode=unless-stopped
network_name=docker_public
