app_name= # Name of your container
app_ipv4= # ipv4 of your container

db_name= # Name of the database container
db_ipv4= # ipv4 of your database container


app_base_url= # Base URL like: https://example.test.com

smtp_username= # SMTP username
smtp_password= # SMTP password
smtp_name= # Name of your senders mail
smtp_email= # Mail address who sends
smtp_port= # Port of your smtp host
smtp_host= # SMTP host address

db_username= # Database username
db_password= # Database password
db_database= # Databse name
db_host= # Database host

network_name= # The name of your docker network
