app_name= # Your application name
app_ipv4= # Your app's ipv4

app_url= # Your application fqdn
app_key= # Your application key (docker run -it --rm --entrypoint /bin/bash lscr.io/linuxserver/bookstack:latest appkey)

db_name= # Your database name
db_ipv4= # Your database ipv4

db_root_password= # Your database root password
timezone= # Your timezone
db_database= # Your database name
db_user= # Your database username
db_password= # Your database password

restart= # Your restart mode

network_name= # Your network name
