app_name= # The name of the container
app_ipv4= # The ipv4 address of your container

app_base_url= # Base Url like https://ntfy.example.com

upstream_url=https://ntfy.sh # For IOS notifications please read the NTFY docs for more information

restart_mode= # Your restart mode
network_name= # Your docker network
