app_name= # Name of the app
app_ipv4= # ipv4 of the app

romm_auth_secret= # Secret 
igdb_client_secret= # Secret
igdb_client_id= # Secret


db_name= # Name of the db container
db_ipv4= # ipv4 of the db container

db_root_password= # mysql root password
db_user= # mysql user name
db_password= # mysql user password
db_database= # mysql database

network_name= # Docker network name
