twingate_network= # Your twingate network name

con01_name= # Connector 1 name
con01_access_token= # Connector 1 access token
con01_refresh_token= # Connector 1 refresh token
con01_label_hostname= # Connector 1 label hostname
con01_ipv4= # Connector 1 ipv4

con02_name= # Connector 2 name
con02_access_token= # Connector 2 access token
con02_refresh_token= # Connector 2 refresh token
con02_label_hostname= # Connector 2 label hostname
con02_ipv4= # Connector 2 ipv4

network_name= # Docker network name