app_name= # Apps name
app_ipv4= # App ipv4

###########################
###	    Admin Token     ###
###########################

ADMIN_TOKEN='' # Put an argon token

###########################
###       Domain        ###
###########################

DOMAIN= # Fqdn of the server

###########################
### SMTP Email settings ###
###########################
SMTP_HOST= # smtp server address
SMTP_FROM= # Mail from address
SMTP_FROM_NAME= # Mail from name
SMTP_USERNAME= # Smtp username
SMTP_PASSWORD= # Smtp password
SMTP_TIMEOUT= # Smtp timeout
SMTP_PORT= # Smtp port

###########################
###    Organisations	###
###########################
ORG_CREATION_USERS= # Which users can create organisations

network= # Your docker network name