app_name= # Server name, but not needed will be minecraft by default
app_ipv4= # App ipv4, but not needed will be minecraft by default
app_port= # Your public port

server_memory= # Set to your Memory, but not needed will be 1G by default

network_name= # Set your docker network