app_name= # App name, not needed
app_ipv4= # App ipv4

db_name= # DB name, not needed
db_ipv4= # DB ipv4

db_databse= # Database name, not needed
db_username= # Database username, not needed
db_password= # Databse password, not needed

network_name= # Docker network name
