# Coder must be reachable from an external URL for users and workspaces to connect.
# e.g. https://coder.example.com
CODER_ACCESS_URL=

# Run "coder server --help" for flag information.

POSTGRES_DB= # Name of the db host
